
*{
    box-sizing: border-box;
}

html{
    font-size:11px;
}
@media only screen and (min-width:992px){
    html{
        font-size:13px;
    }
}
/* @media only screen and (min-width:1200px){
    html{
        font-size:15px;
    }
} */
body{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;

}
ul{
    list-style: none;
}

/* Banner */

.banner{
    background: url(./image/mbr-4.jpg),rgba(0,0,0,.4);
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 10rem 0 5rem 0;
}
.banner h1, .banner h2{
    color: white;
    margin-bottom: 3rem;
}
.banner h2{
    font-size: 3rem;
    font-weight: 300;
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner-button{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

@media(min-width:768px){
    .banner-button{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    } 
    .banner-button a{
        width: 15rem;
    }
}
@media(max-width:768px){
    .banner h2{
        font-size: 2.2rem;
        
    }
    .banner h1{
        font-size: 3.4rem;
        
    }
}
.banner-button i{
    margin-right: .8rem;
}
.banner-button a{
    color: grey;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
    border: 2px solid transparent;
}
.banner-button a:hover{
    color: #6278df;
    border: 2px solid #6278df;
    background-color: #fff;
}

/* video */

.video{
    padding: 5rem 0;
    background-color: rgb(247, 249, 255);
}
.video h1{
    font-size: 3rem;
    font-weight: 400;
}
.video p{
    font-size: 1.3rem;
    color: rgba(0,0,0,.5);
    margin: 2rem 0;
}
.video-content{
    height: 300px;
}
@media(min-width:768px){
    .video .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .video-heading{
        
        flex-basis: 48%;
        order: 2;
    }
    .video-content{
        flex-basis: 48%;
        order: 1;
    }
}

/* feature */

.feature-heading{
    padding: 4rem 0;
}
.feature-heading h1{
    font-size: 3rem;
    font-weight: 700;
}
.feature-heading h5{
    color: rgba(0,0,0,.4);
    font-size: 1.7rem;
    font-weight: 300;
}

.feature-card{
    padding: 2.5rem 1.5rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: all 0.3s;
}
.feature-card:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.feature-card span{
    color:rgb(98, 120, 223) ;
    display: block;
    font-size: 3rem;
}
.feature-card h2{
    color: black;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.feature-card p{
    color: grey;
    font-weight: 300;
    font-size: 1.5rem;
}
@media(min-width:768px){
    .feature-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feature-card{
        flex-basis: 49%;
    }
}
@media(min-width:1200px){
    
    .feature-card{
        flex-basis: 32.33%;
        display: flex;
    }
    .feature-card span{
        display: inline-block;
        font-size: 2.5rem;
        margin-right: 1rem;
    }
    .feature-card h2{
       
        font-size: 2rem;
    }
    .feature-card p{
        
       
        font-size: 1.2rem;
    }
}

/* New section */

.new-section{
    /* background-color: aquamarine; */
    padding: 3rem 0;
}
.n-heading{
    margin-bottom: 3rem;
}
.n-heading-right p{
    font-size: 1.3rem;
}
.n-cards{}
.n-card{    
    margin: 0 auto;
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    max-width: 500px;
}
.n-card-img{}
.n-card-img img{
    max-width: 100%;
}
.n-card-info{   
    padding: 2rem 1.4rem;
}
.n-card-info h3{
    font-size: 2rem;
}
.n-card-info p{
    font-size: 1.3rem;
    color: rgba(0,0,0,.5);
}

@media(min-width:992px){

    .n-heading{
        align-items: center;
    }
    .n-heading-left{
        flex-basis: 49%;
    }
    .n-heading-right{
        flex-basis: 49%;
    }
    .n-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .n-card{
        flex-basis: 49%;
        display: flex;
        max-width: 100%;
    }
    .n-card-img{
        flex-basis: 49%;
    }
    .n-card-info{
        flex-basis: 49%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}





/* Feedback section */

.feedback-section{
    padding: 4rem 0;
    background-color: rgb(247, 249, 255);
}
.feedback-heading{
    margin-bottom: 3rem;
}
.feedback-heading h3{
    color: rgba(0,0,0,.5);
    font-weight: 300;
}
.feedback-heading h1{
    
}

.feedback-card{
    margin-bottom: 3rem;
}
.feedback-card-info{    
    max-width: 400px;
    margin: 0 auto 2rem auto;
    background-color: white;
    position: relative;
    /* margin-bottom: 2rem; */
    padding: 2rem 2rem;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.feedback-card-info::after{    
    content: "";
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    top: 90%;
    left: 48%;
    transform: rotate(45deg);
    z-index: 1;

}
.feedback-card-info p{
    position: relative;
    font-size: 1.5rem;
    color: grey;
    font-weight: 300;
    text-align: center;
}
.feedback-card-info p span{
    position: absolute;
    font-size: 5rem;
    top: -1.5rem;
    left: -1rem;
    right: 100;
    color: rgba(0,0,0,.2);
    
}
.feedback-card-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   
}
.feedback-card-user img{
    width: 60px;
    border-radius: 50%;
}
.feedback-card-user-bio{} 
.feedback-card-user-bio h4{} 
.feedback-card-user-bio span{
    color: rgba(0,0,0,.7);
} 
@media(min-width:768px){
    .feedback-card-info{    
        max-width: 500px;
       
    }
}
@media(min-width:992px){
    .feedback-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feedback-card{
        flex-basis: 32.33%;
        
    }
    .feedback-card-info{
        width: inherit;
    }
    .feedback-card-info p{
       
        font-size: 1.2rem;
        
    }
}

@media(min-width:1200px){
    .feedback-card-info p{
       
        font-size: 1.5rem;
        
    }
    .feedback-card-info::after{    
       
        
        top: 95%;
        
    
    }
}

/* Buy Section */

.buy{
    background-color: rgb(247, 249, 255);
    padding: 4rem 0;
    
}
.buy-heading{
    margin-bottom: 3rem;
}
.buy-heading h1{
    font-size: 2.8rem;
   
   
}
.buy-heading h5{
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    font-weight: 300;
}
.buy-cards{}
.buy-card{
    background-color: #fff;
    padding-bottom: 2rem;
    
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
    
   
}


.buy-card:hover .card-heading{
   color: #fff;
   background-color: rgb(98, 120, 223);
  
   
}
.buy-card:hover .card-heading p{
   color: #fff;
   
   
}
.buy-card:hover .card-button{
    background-color: rgb(98, 120, 223);
}
.buy-card:hover .card-button a{
    color: #fff;
}
   
   
.card-heading{
    border-bottom: 1px solid #ddd;
    padding: 3rem 1rem;
   
}
.card-heading h2{
    font-size: 3rem;
}
    
   
.card-heading h3{
    font-size: 2rem;
    font-weight: 600;
    
}
.card-heading h3 span{
    font-size: 4rem;
    font-weight: 600;
}
.card-heading h4{
    font-size: 2rem;
    
}
.card-heading p{
    font-size: 1.6rem;
    color: rgba(0,0,0,.7);
    
}
.card-body{
    
    padding: 1rem 1rem;
}
.card-body ul{
    margin-left: -2rem;
   
}
.card-body ul li{
    font-size: 1.7rem;
    color: rgba(0,0,0,.6);
    font-weight: 300;
    line-height: 4rem;
}
.card-body ul li i{
    color:rgb(98, 120, 223) ;
    margin-right: 1rem;
}
.card-button{
    background-color: #fff;
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    width: 90%;
    margin: auto;
    border-radius: 8px;
    
}
.card-button:hover{
    background-color: black !important;
}
.card-button a{
    font-size: 1.8rem;
   
}
@media(min-width:992px){
    .buy-card{
        
        max-width: 500px;
       
        
       
    }
}
@media(min-width:1200px){
    .buy-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .buy-card{
        flex-basis: 31.33%;
    }
   
}
       
/* team section */

.team-section{}
.team-heading{}
.team-heading h1{
    margin-bottom: 3rem;
}
.team-cards{}
.team-card{
    background-color: #fff;
    max-width: 400px !important;
    margin: 0 auto;
    margin-bottom: 2rem;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    border-radius: 8px;
}
.team-card:hover{
   
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.3);
   
}
.team-card-img{}
.team-card-img img{
    width: 100%;
}
.team-card-info{
    padding: 2rem ;
}
.team-card-info h2{
    font-size: 2rem;
    font-weight: 500;
}
.team-card-info span{
    font-weight: 300;
    font-size: 2rem;
    color: rgba(0,0,0,.6);
}
@media(min-width:768px){
    .team-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .team-card{
        flex-basis: 47%;
    }
}
@media(min-width:1200px){
    .team-cards{
        max-width: 1600px;
    }
    .team-card{
        flex-basis: 23.5%;
    }
}

/* subscribe */

.subscribe{
    padding: 5rem 0 6rem 0;
    background-color: rgb(247, 249, 255);
}
.subscribe-heading{
    margin-bottom: 2rem;
}
.subscribe-heading h3{
    color: grey;
    font-weight: 300;
    font-size: 2rem;
}
.subscribe-heading h1{
    font-size: 3rem;
}
.subscribe-form{}
.subscribe-form form{
    display: flex;
    gap: 1rem;
    flex-flow: column;
    align-items: center;
}
@media(min-width: 992px){
    .subscribe-form form{
        
        flex-flow: row;
        justify-content: center;
    }
}
.subscribe-form input{
    font-size: 1.5rem;
    border: 2px solid rgba(0,0,0,.2);
    padding: .5rem 1rem;
    height: 3rem;
    width: 300px;
    outline: none;
}
.subscribe-form input:focus{
   
    border: 1px solid rgb(98, 120, 223);
    box-shadow: 3px 3px 27px -3px #6278df;
}  
.subscribe-form button{
    color: #fff;
    background-color: rgb(98, 120, 223);
    border: 2px solid transparent;
    height: 3rem;
    width: 220px;
    font-size: 1.2rem;
}
.subscribe-form button:hover{
    background-color: #fff;
    color: rgb(98, 120, 223);
    border: 2px solid rgb(98, 120, 223);
    box-shadow: 3px 3px 27px -3px #6278df;
}

/* map section */

.map-section{
    padding: 3rem 0;
   
}

.map-section .container{
    max-width: 500px;
}
.contact-left{}
.contact-left iframe{
    height: 20rem;
    border-radius: 5px;
}
.contact-right{}
.contact-heading{
    padding: 3rem 0;
}
.contact-heading h2{
    font-size: 2.2rem;
}
.contact-heading p{
    font-size: 1.3rem;
    font-weight: 300;
    color: grey;
}
.contact-right form{
    display: flex;
    flex-flow: column;
    gap: 1rem;
}
.input-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact-right form input{
    font-size: 1.2rem;
    font-weight: 200;
    padding: 1rem 1rem;
    border: 2px solid rgba(0,0,0,.2);
    outline: none;
    border-radius: 5px;
}
.contact-right form input:focus{
   
    border: 2px solid #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
    

}
.contact-right form textarea{
    font-size: 1.2rem;
    font-weight: 200;
    padding: .7rem 1rem;
    border: 2px solid rgba(0,0,0,.2);
    outline: none;
    border-radius: 5px;
    height: 15rem;
}
.contact-right form textarea:focus{
    border: 2px solid #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}
.contact-right form button{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 1rem;
    border: 2px solid rgba(0,0,0,.2);
    color: white;
    background-color: #6278df;
    border-radius: 5px;
}
.contact-right form button:hover{
   
    border: 2px solid rgb(98, 120, 223);
    background-color: white;
    color: #6278df;
    box-shadow: 3px 3px 27px -3px #6278df;
}

@media(min-width:1200px){
   
    .map-section .container{
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contact-left iframe{
        height: -webkit-fill-available;
       
    }
    .contact-heading{
        padding: 0;
    }
    .contact-left{
        flex-basis: 58%;
    }
    .contact-right{
        flex-basis: 40%;
    }
   
    .input-wrapper{
        
        
        display: flex;
        flex-flow: row;
        
    }
    .input-wrapper input{
        flex-basis: 49%;
        width: 50%;
    }
    .contact-right form input{
        font-size: 1.5rem;
    }
    .contact-right form textarea{
        font-size: 1.5rem;
    }

}


/* Header */

header{
    position: fixed;
    width: 100%;
    background-color: white;
}
header .container{
    display: flex;
    height: 5rem;
}
.header-logo{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.header-logo img{
    width: 3.5rem;
}
.header-logo-text{}
.header-logo-text p{
    font-size: 1.8rem;
    font-weight: 600;
    margin-bottom: -.1rem;
}
.header-menu{
    
    display: flex;
    flex-grow: 3;
    justify-content: space-between;
}
.header-menu > ul{
    display: flex;
    /* margin-bottom: -.1rem; */
    gap: 2rem;
    align-items: center;
    margin-bottom: -.02rem;
}
.header-menu > ul li{
    align-self: stretch;
    display: flex;
    align-items: center;
    position: relative;
}
.header-menu > ul li a{
    color: black;
    font-size: 1.25rem;
}
.header-menu > ul li a i{
    margin-left: .5rem;
}
.header-menu-button{
    display: flex;
    align-items: center;
}
.header-menu-button a{
    color: white;
    background-color: #6278df;
    border: 2px solid transparent;
    padding: .5rem 1.5rem;
    border-radius: 5px;
    font-size: 1.25rem;
    font-weight: 500;
}
.header-menu-button a:hover{
    
    color: #6278df;
    border: 2px solid #6278df;
    background-color: #fff;
    
}
.header-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon i{
    font-size: 1.8rem;
}


/* Hover menu */

.header-menu ul li:hover >a{
    color: #6278df;
}
.header-menu ul > li ul{
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 15rem;
    visibility: hidden;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.header-menu ul li:hover > ul{
    
    visibility: visible;
}
.header-menu ul > li ul > li {
    margin-left: -2rem;
    padding: .5rem 0rem;
    border-bottom: 1px solid grey;
   
}
.header-menu ul > li ul > li:last-child {
    
    border-bottom: none;
   
}
.header-menu ul > li ul > li a{
    padding: .5rem;
}

@media(max-width:768px){
    .header-menu{
        

    background-color: aliceblue;
    position: fixed;
    top: 5rem;
    
    right: -100%;
    flex-flow: column;
    gap: 2rem;
    padding: 3rem 5rem;
    height: 100vh;
    transition: all .4s;
    justify-content: flex-start;
    }
    #check:checked ~ .header-menu{
        right: 0;
    }
    .header-menu > ul{
        margin-left: -2rem;
        flex-direction: column;
        
        gap: 2rem;
        
    
    }
    .header-menu ul > li ul{
    
        top: 100%;
        left: -30%;
        background-color: aliceblue;
        width: 15rem;
        
        z-index: 1;
    }
   
    

    
}

