
*{
    box-sizing: border-box;
}

html{
    font-size:11px;
}
@media only screen and (min-width:992px){
    html{
        font-size:13px;
    }
}
/* @media only screen and (min-width:1200px){
    html{
        font-size:15px;
    }
} */
body{
    font-family: 'Work Sans', sans-serif;
}

a{
    text-decoration: none;

}
ul{
    list-style: none;
}

/* Banner */

.banner{
    background: url(./image/mbr-4.jpg),rgba(0,0,0,.4);
    background-repeat: no-repeat;
    background-blend-mode: color;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 5rem 0;
}
.banner h1, .banner h2{
    color: white;
    margin-bottom: 3rem;
}
.banner h2{
    font-size: 3rem;
    font-weight: 500;
}
.banner h1{
    font-size: 4rem;
    font-weight: 700;
}
.banner-button{
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
@media(min-width:768px){
    .banner-button{
        width: 100%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        gap: 2rem;
    } 
    .banner-button a{
        width: 15rem;
    }
}
.banner-button i{
    margin-right: .8rem;
}
.banner-button a{
    color: grey;
    background-color: white;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 600;
}

/* video */

.video{
    padding: 5rem 0;
    background-color: rgb(247, 249, 255);
}
.video h1{
    font-size: 3rem;
    font-weight: 400;
}
.video p{
    font-size: 1.3rem;
    color: rgba(0,0,0,.5);
    margin: 2rem 0;
}
.video-content{
    height: 300px;
}
@media(min-width:768px){
    .video .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .video-heading{
        
        flex-basis: 48%;
        order: 2;
    }
    .video-content{
        flex-basis: 48%;
        order: 1;
    }
}

/* feature */

.feature-heading{
    padding: 4rem 0;
}
.feature-heading h1{
    font-size: 3rem;
    font-weight: 700;
}
.feature-heading h5{
    color: rgba(0,0,0,.4);
    font-size: 1.7rem;
    font-weight: 300;
}

.feature-card{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
    transition: all 0.3s;
}
.feature-card:hover{
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
}
.feature-card span{
    color:rgb(98, 120, 223) ;
    display: block;
    font-size: 3rem;
}
.feature-card h2{
    color: black;
    font-size: 2.2rem;
    margin-bottom: 1.5rem;
}
.feature-card p{
    color: grey;
    font-weight: 300;
    font-size: 1.5rem;
}
@media(min-width:768px){
    .feature-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feature-card{
        flex-basis: 49%;
    }
}
@media(min-width:1200px){
    
    .feature-card{
        flex-basis: 32.33%;
        display: flex;
    }
    .feature-card span{
        display: inline-block;
        font-size: 2.5rem;
        margin-right: 1rem;
    }
    .feature-card h2{
       
        font-size: 2rem;
    }
    .feature-card p{
        
       
        font-size: 1.2rem;
    }
}

/* New section */

.new-section{
    background-color: aquamarine;
    padding: 3rem 0;
}
.n-heading{
    margin-bottom: 3rem;
}
.n-heading-right p{
    font-size: 1.3rem;
}
.n-cards{}
.n-card{    
    margin-bottom: 2rem;
    border-radius: 8px;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.n-card-img{}
.n-card-img img{
    max-width: 100%;
}
.n-card-info{   
    padding: 2rem 1.4rem;
}
.n-card-info h3{
    font-size: 2rem;
}
.n-card-info p{
    font-size: 1.3rem;
    color: rgba(0,0,0,.5);
}

@media(min-width:992px){

    .n-heading{
        align-items: center;
    }
    .n-heading-left{
        flex-basis: 49%;
    }
    .n-heading-right{
        flex-basis: 49%;
    }
    .n-cards{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .n-card{
        flex-basis: 49%;
        display: flex;
    }
    .n-card-img{
        flex-basis: 49%;
    }
    .n-card-info{
        flex-basis: 49%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }
}





/* Feedback section */

.feedback-section{
    padding: 4rem 0;
    background-color: rgb(247, 249, 255);
}
.feedback-heading{
    margin-bottom: 3rem;
}
.feedback-heading h3{
    color: rgba(0,0,0,.5);
    font-weight: 300;
}
.feedback-heading h1{
    
}

.feedback-card{
    margin-bottom: 3rem;
}
.feedback-card-info{    
    max-width: 400px;
    margin: 0 auto 2rem auto;
    background-color: white;
    position: relative;
    /* margin-bottom: 2rem; */
    padding: 2rem 2rem;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.1);
}
.feedback-card-info::after{    
    content: "";
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    top: 90%;
    left: 48%;
    transform: rotate(45deg);
    z-index: 1;

}
.feedback-card-info p{
    position: relative;
    font-size: 1.5rem;
    color: grey;
    font-weight: 300;
    text-align: center;
}
.feedback-card-info p span{
    position: absolute;
    font-size: 5rem;
    top: -1.5rem;
    left: -1rem;
    right: 100;
    color: rgba(0,0,0,.2);
    
}
.feedback-card-user{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
   
}
.feedback-card-user img{
    width: 60px;
    border-radius: 50%;
}
.feedback-card-user-bio{} 
.feedback-card-user-bio h4{} 
.feedback-card-user-bio span{
    color: rgba(0,0,0,.7);
} 
@media(min-width:768px){
    .feedback-card-info{    
        max-width: 500px;
       
    }
}
@media(min-width:992px){
    .feedback-cards{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .feedback-card{
        flex-basis: 32.33%;
        
    }
    .feedback-card-info{
        width: inherit;
    }
    .feedback-card-info p{
       
        font-size: 1.2rem;
        
    }
}

@media(min-width:1200px){
    .feedback-card-info p{
       
        font-size: 1.2rem;
        
    }
}

/* Buy Section */

.buy{
    background-color: rgb(247, 249, 255);
    
}
.buy-heading{
    margin-bottom: 3rem;
}
.buy-heading h1{
    font-size: 2.8rem;
   
   
}
.buy-heading h5{
    font-size: 1.5rem;
    color: rgba(0,0,0,.5);
    font-weight: 300;
}
.buy-cards{}
.buy-card{
    background-color: #fff;
    padding-bottom: 2rem;
    
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 2rem;
    
   
}


.buy-card:hover .card-heading{
   color: #fff;
   background-color: rgb(98, 120, 223);
  
   
}
.buy-card:hover .card-heading p{
   color: #fff;
   
   
}
.buy-card:hover .card-button{
    background-color: rgb(98, 120, 223);
}
.buy-card:hover .card-button a{
    color: #fff;
}
   
   
.card-heading{
    border-bottom: 1px solid #ddd;
   
}
.card-heading h2{
    font-size: 3rem;
    width: 95%;
    margin-left: auto;
}
.card-heading h3{
    font-size: 2rem;
    font-weight: 600;
    width: 95%;
    margin-left: auto;
}
.card-heading h3 span{
    font-size: 4rem;
    font-weight: 600;
}
.card-heading h4{
    font-size: 2rem;
    width: 95%;
    margin-left: auto;
}
.card-heading p{
    font-size: 1.6rem;
    color: rgba(0,0,0,.7);
    width: 95%;
    margin-left: auto;
}
.card-body{
    width: 95%;
    margin-left: auto;
}
.card-body ul{
    margin-left: -2rem;
   
}
.card-body ul li{
    font-size: 2rem;
    color: rgba(0,0,0,.6);
    font-weight: 300;
    line-height: 4rem;
}
.card-body ul li i{
    color:rgb(98, 120, 223) ;
    margin-right: 1rem;
}
.card-button{
    background-color: #fff;
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2.5px 4.33px 30px 0 rgba(64,87,191,0.2);
    width: 90%;
    margin: auto;
    border-radius: 8px;
    
}
.card-button:hover{
    background-color: black !important;
}
.card-button a{
    font-size: 1.8rem;
   
}